#container{background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #D6EBFF),
	color-stop(1, #6AB5FF)
);
background-image: -o-linear-gradient(bottom, #D6EBFF 0%, #6AB5FF 100%);
background-image: -moz-linear-gradient(bottom, #D6EBFF 0%, #6AB5FF 100%);
background-image: -webkit-linear-gradient(bottom, #D6EBFF 0%, #6AB5FF 100%);
background-image: -ms-linear-gradient(bottom, #D6EBFF 0%, #6AB5FF 100%);
background-image: linear-gradient(to bottom, #D6EBFF 0%, #6AB5FF 100%);
background-attachment:fixed;
min-width:1348px;
width:100%;
height:110%;
position:absolute;}
#header{width:1366px;height:100px;background-color:#018fd9;color:#fff;margin-top:10px;position:absolute;}

#headline{margin-left:375px;color:#fff;margin-top:-95px;}
#colg{width:150px;height:100px;margin-left:200px;}
#headname{margin-left:380px;margin-top:-75px;font-size:42px;color:#6AB5FF;}
#name{position:absolute;margin-left:610px;margin-top:200px;color:#fff;width:680px;font-size:38px;font-family:Courier;}
#feat{position:absolute;margin-left:650px;margin-top:250px;width:650px;font-weight:700;}
#feat li{padding:3px;color:#fff;font-size:16px;font-weight:700;}
#feat ul{list-style-image: url('csifavicon.jpg');}
#winstore{height:106px; width:220px;margin-top: 560px; position:absolute;margin-left:800px;}
#iosapp{height:106px; width:220px;margin-top: 560px; position:absolute; margin-left:140px;}
#google{height:106px; width:220px;margin-top: 560px; position:absolute; margin-left:470px;}
#store{margin-left:90px;}
#phones{margin-left:60px;position:absolute;height:350px;width:500px;margin-top:125px;}
#iphone{position:absolute;height:340px;width:185px;margin-top:154px;margin-left:40px;}
#windows{position:absolute;height:340px;width:185px;margin-top:154px;margin-left:330px;}
#android{position:absolute;height:414px;width:260px;margin-top:118px;margin-left:142px;}
#store img:hover {
    cursor: pointer;
    height:90px;
    width: 190px;
}

